<h3>About</h3>
<div class="view-form">
I’m a SW developer with strong QA background. I’ve experienced myself in the area of SW 
development for many years both in development and quality. I master many programming 
languages and development in agile/lean manner and I’m also a fast learner to digest any new framworks/API's/languages/etc.. As an extra I have the latest knowledge from the area of SW development as I just got my M.S. My ambition is to create high quality SW in agile/lean team!
</div>